@import "tailwindcss";

/* ---------- THEME TOKENS ---------- */
@theme {
  --color-purple-300: #e0e7ff;
  --color-purple-400: #4439bf;
  --color-purple-600: #5046e4;
  --color-content-bg: #ecf0f1;
}
